In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [4]:
%sql SELECT * FROM songplays LIMIT 20;

 * postgresql://student:***@127.0.0.1/sparkifydb
20 rows affected.

[(1, '1542845032796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (2, '1542845350796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (3, '1542845526796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (4, '1542845741796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (5, '1542846220796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (6, '1542846506796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (7, '1542846745796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (8, '1542847130796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (9, '1542847309796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (10, '1542847559796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (11, '1542847758796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (12, '1542848253796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (13, '1542848506796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (14, '1542848735796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (15, '1542849131796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (16, '1542849457796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (17, '1542849697796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (18, '1542849899796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (19, '1542850205796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (20, '1542850491796', 15, 'paid', None, None, 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"')]

In [ ]:
%sql SELECT * FROM users LIMIT 20;

In [4]:
%sql SELECT * FROM users LIMIT 20;

 * postgresql://student:***@127.0.0.1/sparkifydb
20 rows affected.

[(15, 'Lily', 'Koch', 'F', 'paid'),
 (26, 'Ryan', 'Smith', 'M', 'free'),
 (50, 'Ava', 'Robinson', 'F', 'free'),
 (97, 'Kate', 'Harrell', 'F', 'paid'),
 (101, 'Jayden', 'Fox', 'M', 'free'),
 (63, 'Ayla', 'Johnson', 'F', 'free'),
 (32, 'Lily', 'Burns', 'F', 'free'),
 (23, 'Morris', 'Gilmore', 'M', 'free'),
 (83, 'Stefany', 'White', 'F', 'free'),
 (76, 'Jayden', 'Duffy', 'F', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free'),
 (80, 'Tegan', 'Levine', 'F', 'paid'),
 (66, 'Kevin', 'Arellano', 'M', 'free'),
 (51, 'Maia', 'Burke', 'F', 'free'),
 (9, 'Wyatt', 'Scott', 'M', 'free'),
 (49, 'Chloe', 'Cuevas', 'F', 'free'),
 (94, 'Noah', 'Chavez', 'M', 'free'),
 (60, 'Devin', 'Larson', 'M', 'free'),
 (25, 'Jayden', 'Graves', 'M', 'paid'),
 (44, 'Aleena', 'Kirby', 'F', 'paid')]

In [5]:
%sql SELECT * FROM songs LIMIT 20;

 * postgresql://student:***@127.0.0.1/sparkifydb
20 rows affected.

[('SOMJBYD12A6D4F8557', 'Keepin It Real (Skit)', 'ARD0S291187B9B7BF5', 0, 114.78159),
 ('SOQHXMF12AB0182363', 'Young Boy Blues', 'ARGSJW91187B9B1D6B', 0, 218.77506),
 ('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, 233.40363),
 ('SOUDSGM12AC9618304', 'Insatiable (Instrumental Version)', 'ARNTLGG11E2835DDB9', 0, 266.39628),
 ('SOYMRWW12A6D4FAB14', 'The Moon And I (Ordinary Day Album Version)', 'ARKFYS91187B98E58F', 0, 267.7024),
 ('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, 148.03546),
 ('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0, 189.57016),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, 209.60608),
 ('SOXVLOJ12AB0189215', 'Amor De Cabaret', 'ARKRRTF1187B9984DA', 0, 177.47546),
 ('SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', 1984, 269.81832),
 ('SOBZBAZ12A6D4F8742', 'Spanish Grease', 'AROUOZZ1187B9ABE51', 1997, 168.25424),
 ('SOGXHEG12AB018653E', 'It Makes No Difference Now', 'AR0RCMP1187FB3F427', 1992, 133.32853),
 ('SONYPOM12A8C13B2D7', 'I Think My Wife Is Running Around On Me (Taco Hell)', 'ARDNS031187B9924F0', 2005, 186.48771),
 ('SOBLGCN12AB0183212', 'James (Hold The Ladder Steady)', 'AR47JEX1187B995D81', 1985, 124.86485),
 ('SOZCTXZ12AB0182364', 'Setanta matins', 'AR5KOSW1187FB35FF4', 0, 269.58322),
 ('SOZQDIU12A58A7BCF6', 'Superconfidential', 'ARNTLGG11E2835DDB9', 0, 338.31138),
 ('SOPSWQW12A6D4F8781', 'Made Like This (Live)', 'ARGIWFO1187B9B55B7', 0, 225.09669),
 ('SOGNCJP12A58A80271', 'Do You Finally Need A Friend', 'ARB29H41187B98F0EF', 1972, 342.56934),
 ('SOBBUGU12A8C13E95D', 'Setting Fire to Sleeping Giants', 'ARMAC4T1187FB3FA4C', 2004, 207.77751)]

In [7]:
%sql SELECT * FROM artists LIMIT 20;

 * postgresql://student:***@127.0.0.1/sparkifydb
20 rows affected.

[('ARNTLGG11E2835DDB9', 'Clp', '', nan, nan),
 ('ARKRRTF1187B9984DA', 'Sonora Santanera', '', nan, nan),
 ('ARGSJW91187B9B1D6B', 'JennyAnyKind', 'North Carolina', 35.21962, -80.01955),
 ('AR8ZCNI1187B9A069B', 'Planet P Project', '', nan, nan),
 ('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan),
 ('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.14968, -90.04892),
 ('ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', nan, nan),
 ('ARD0S291187B9B7BF5', 'Rated R', 'Ohio', nan, nan),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', nan, nan),
 ('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan),
 ('ARXR32B1187FB57099', 'Gob', '', nan, nan),
 ('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan),
 ('ARXR32B1187FB57099', 'Gob', '', nan, nan),
 ('ARB29H41187B98F0EF', 'Terry Callier', 'Chicago', 41.88415, -87.63241),
 ('ARMAC4T1187FB3FA4C', 'The Dillinger Escape Plan', 'Morris Plains, NJ', 40.82624, -74.47995),
 ('AR47JEX1187B995D81', 'SUE THOMPSON', 'Nevada, MO', 37.83721, -94.35868),
 ('ARDNS031187B9924F0', 'Tim Wilson', 'Georgia', 32.67828, -83.22295),
 ('AREBBGV1187FB523D2', "Mike Jones (Featuring CJ_ Mello & Lil' Bran)", 'Houston, TX', nan, nan),
 ('AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', 27.94017, -82.32547),
 ('ARAJPHH1187FB5566A', 'The Shangri-Las', 'Queens, NY', 40.7038, -73.83168)]

In [8]:
%sql SELECT * FROM time LIMIT 20;

 * postgresql://student:***@127.0.0.1/sparkifydb
20 rows affected.

[('2018-11-28 00:00:15.796', 0, 28, 48, 11, 2018, 2),
 ('2018-11-28 00:03:40.796', 0, 28, 48, 11, 2018, 2),
 ('2018-11-28 00:09:38.796', 0, 28, 48, 11, 2018, 2),
 ('2018-11-28 00:19:09.796', 0, 28, 48, 11, 2018, 2),
 ('2018-11-28 00:25:29.796', 0, 28, 48, 11, 2018, 2),
 ('2018-11-28 00:29:10.796', 0, 28, 48, 11, 2018, 2),
 ('2018-11-28 01:40:49.796', 1, 28, 48, 11, 2018, 2),
 ('2018-11-28 01:44:16.796', 1, 28, 48, 11, 2018, 2),
 ('2018-11-28 03:55:06.796', 3, 28, 48, 11, 2018, 2),
 ('2018-11-28 05:13:38.796', 5, 28, 48, 11, 2018, 2),
 ('2018-11-28 06:20:15.796', 6, 28, 48, 11, 2018, 2),
 ('2018-11-28 06:23:54.796', 6, 28, 48, 11, 2018, 2),
 ('2018-11-28 07:11:30.796', 7, 28, 48, 11, 2018, 2),
 ('2018-11-28 07:15:21.796', 7, 28, 48, 11, 2018, 2),
 ('2018-11-28 07:17:31.796', 7, 28, 48, 11, 2018, 2),
 ('2018-11-28 07:19:53.796', 7, 28, 48, 11, 2018, 2),
 ('2018-11-28 07:20:50.796', 7, 28, 48, 11, 2018, 2),
 ('2018-11-28 07:25:13.796', 7, 28, 48, 11, 2018, 2),
 ('2018-11-28 07:25:20.796', 7, 28, 48, 11, 2018, 2),
 ('2018-11-28 07:29:42.796', 7, 28, 48, 11, 2018, 2)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).